{% extends 'base.html' %}

{% block content %}
  <h1>Aulas</h1>
  {% if session['user_role'] == 'professor' %}
    <p><a href="{{ url_for('nova_aula') }}" class="btn btn-primary">Nova Aula</a></p>
  {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Disciplina</th>
        {% if session['user_role'] == 'aluno' %}
          <th>Presença</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for class_data in classes_data %}
        <tr>
          <td>{{ class_data['date'].strftime('%d/%m/%Y %H:%M') }}</td>
          <td>{{ class_data['subject'] }}</td>
          {% if session['user_role'] == 'aluno' %}
            {% if class_data['presence_id'] %}
              <td><span class="badge bg-success">Presente</span></td>
            {% else %}
              <td><span class="badge bg-danger">Falta</span></td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
